*{
    margin: 0;
}

*::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}

*::-webkit-scrollbar-thumb{
width: 100%;
border-radius: 20px;
background: gray;
}

body{
    width: 100vw;
    height: 100vh;
    background: #04001e;
    overflow-x: hidden;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #04001e;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* pokedex */

header{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: blue;
}

#containerPoke{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: transparent;
}

.containerImgPoke{
    width: 100%;
    height: 100%;
    display: flex;
    background: url(./img/fondoPokemon.jpg);
    background-size: 100% 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.imgPoke{
    width: 50%;
    height: 50%;
}

.containerImgPresentation{
    width: 50%;
    height: 100%;
    display: flex;
    background: url(./img/fondoPresentacion-removebg-preview.png);
    background-size: 100% 100%;
    border-radius: 5px;
    transition: 1000ms all ease-in-out;
    transition-delay: 500ms;
}

.containerP{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: transparent;
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 20px;
}

.containerName{
    width: 33.33%;
    height:100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background: transparent;
}

.containerId{
    width: 33.33%;
    height:100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background: transparent;
}


.text{
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 20px;
}

/* mainLeft */

#mainLeft{
    width: 32rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #d5092b;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 14px 10px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 13px -4px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 13px -4px rgba(0,0,0,0.75);
}
/* top */

#top{
    margin-top: 1.5rem;
    width: 100%;
    height: 13%;
    background: url(./img/Linea.png);
    background-size: 100% 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-top{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: left;
    align-items: top;
    border-radius: 20px;
}

#container-lights{
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: top;
    background: transparent;
    margin-left: 2rem;
}

#big-light{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d8b9b9;
    shape-outside: circle();
    clip-path: circle();
}

#light-blue{
    width: 80%;
    height: 80%;
    background: #249ce6;
    shape-outside: circle();
    clip-path: circle();
}

#three-lights{
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: transparent;
}

#lightLeft{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    border: 2.5px solid #881325;
}

#lightMid{
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
    border: 2.5px solid #937923;
}

#lightRight{
    width: 10px;
    height: 10px;
    background: #559463;
    border-radius: 50%;
    border: 2.5px solid #2a6433;
}

/* mid */

#mid{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #d7d7d7;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 75px -39px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 75px -39px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 75px -39px rgba(0,0,0,0.75);
}

#mid-top{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    gap: 2rem;
}

#mid-top-Circle1{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 100%;
}

#mid-top-Circle2{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
}

#mid-main{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

#show{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Silkscreen', cursive;
}

/* bottom */

#bottom{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    border-radius: 10px;
}

#mid-bottom{
    width: 70%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

#mid-bottom-Circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: red;
}

#mid-bottom-Bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 25px;
    height: 25px;
    background: transparent;
}

.bars{
    width: 100%;
    height: 20%;
    background: gray;
    border-radius: 20px;
}

/* centro */

#union{
    border-radius: 3px;
    width: 1rem;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #d5092b;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
}

#decoration{
    width: 100%;
    height: 2%;
    border: 1px solid black;
}

#pokeinfo{
    width: 26rem;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d5092b;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 14px 10px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 13px -4px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 13px -4px rgba(0,0,0,0.75);
}

#Containerinfo{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid rgb(44, 44, 44);
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Silkscreen', cursive;
}

.infoPokemon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.infoPokemon p{
    width: 50%;
    height: 100%;
    background: transparent;
    text-align: center;
    color: black;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Silkscreen', cursive;
}

/* Cards container */

.containerCards{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
}

.card{
    width: 17rem;
    height: 20rem;
    margin: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #ff3036;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.rotomDex{
    width: 100%;
    height: 30%;
    background:url(./img/Rotomdex.jpg);
    background-size: 100% 100%;
    border-radius: 20px;
}

.firstView{
    width: 85%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

.card:hover .firstView{
    width: 85%;
    height: 35%;
    transition: 0.5s all ease-in-out;
}

.card:hover .rotomDex{
    height: 22%;
}

.card:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s all ease-in-out;
    height: 32rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card:hover .img{
    -webkit-transform:scale(1.25);transform:scale(1.25);
    overflow: hidden;
    transition: 1s all ease-in-out;
    transition-delay: 0.2s;
}

.img{
    width: 80%;
    height: 80%;
    transition: 0.5s all ease-in-out;
    transition-delay: 0.2s;
}


.features{
    background: transparent;
    /* border: 3px dotted white; */
    border-radius: 5px;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: 0.5ms all ease-in-out;
    transition-delay: 500ms;
}

.features p{
    width: 50%;
    height: 100%;
    background: transparent;
    text-align: center;
    color: white;
}

.card:hover .features{
    display: flex;
    transition: 0.5ms all ease-in-out;
    transition-delay: 500ms;
    width: 85%;
    height: 35%;
}

.containerImg{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(./img/fondoPokemon.jpg);
    background-size: 100% 100%;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.5ms all ease-in-out;
    transition-delay: 500ms;
    margin: 0.5rem;
}

.divStat{
    width: 100%;
    height: 12%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* animacion */

.card:hover .containerImg{
    outline: 6px dashed #E0E4CC;
    box-shadow: 0 0 0 6px #0085d2;
    animation: 0.5s animation ease infinite;
    margin: 1rem;
    transition: 0.5s all ease-in-out;
}

@keyframes animation {
    to {
        outline-color: #0085d2;
        box-shadow: 0 0 0 6px #E0E4CC;
    }
}

/* fin de animacion */


