*{
    margin: 0;
}

*::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}

*::-webkit-scrollbar-thumb{
width: 100%;
border-radius: 20px;
background: gray;
}

body{
    width: 100vw;
    height: 100vh;
    background: transparent;
    overflow-x: hidden;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCards{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: yellow;
}

.principal{
    width: 20%;
    height: 20rem;
    background: greenyellow;
    margin: 1.2rem;
}

.card{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: blue;
    cursor: pointer;
    
}

.principal:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    overflow: hidden;
    transition: 1000ms all ease;
}

.principal:hover .img{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    overflow: hidden;
    transition: 1000ms all ease;
}

.down{
    width: 100%;
    height: 50%;
    background: red;
    position: absolute;
    display: none;
}

.principal:hover .down{
    display: block;
}


.containerImg{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 100%;
}

.img{
    width: 100%;
    height: 100%;
}

/* animacion img */

.CircleImg {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}

.CircleImg:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.CircleImg:before {
    font-size: 48px;
    line-height: 90px;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.CircleImg.effect {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
}

.CircleImg.effect:before {
    line-height: 92px;
}

.CircleImg.effect:after {
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    border: 4px dashed #fff;
}

.CircleImg.effect:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    color: #fff;
}

.card .CircleImg:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* Fin animacion img */
